
<% include bdshare.ejs %>

<footer id="footer">
    <span>客观不可以 &copy; 2014 <a href="http://www.baidu.com">xxx.com</a>. Design by <a href="https://www.github.com/sxyizhiren">sxyizhiren</a>. Powered by blocksit-js + Node.js</span>
</footer>