<head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/label.css' />
    <link rel='stylesheet' href='/stylesheets/button.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/javascripts/blocksit.min.js"></script>
    <% include values.ejs%>
    <script src="/javascripts/incindex.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            initAnimate();
            if(iquery.firstquery){loadquery()}
            else if(iquery.detail){initdetail();}
            $(window).resize(relist);
            $(window).scroll(onscrolling);
        });
    </script>


</head>

