<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/blocksit.min.js"></script>
    <script type="text/javascript">
        function createsharenode(url,title,pic,desc){
            var div=$('<div id="bdshare" class="bdshare_t bds_tools_24 get-codes-bdshare"></div>');
            div.attr('data',JSON.stringify({
                'text':title,
                'title':title,
                'pic':pic,
                'url':url,
                'desc':desc
            }));

            $('<a class="bds_tsina"></a>').appendTo(div);
            $('<a class="bds_tqq"></a>').appendTo(div);
            $('<a class="bds_qzone"></a>').appendTo(div);
            $('<a class="bds_douban"></a>').appendTo(div);
            $('<a class="bds_renren"></a>').appendTo(div);
            $('<span class="bds_more">更多</span>').appendTo(div);
            return div;
        }
        function appendsharenode(){
            $('.grid').each(function(){
                var jqthis=$(this);
                var div=createsharenode(jqthis.attr('id'),'客观不可以','pictureurl',jqthis.children('.text').text());
                div.appendTo(jqthis);
            });
        }
    </script>

    <script type="text/javascript">
    $(document).ready(function(){
        appendsharenode();
        var currentWidth=1100;
        $(window).load(function(){$('#header').css({'top':-50}).delay(1000).animate({'top':0},800);$('#footer').css({'bottom':-15}).delay(1000).animate({'bottom':0},800);$('#container').BlocksIt({numOfCol:4,offsetX:8,offsetY:8});});
        $(window).resize(function(){var winWidth=$(window).width();var conWidth;if(winWidth<660){conWidth=440;col=2}else if(winWidth<880){conWidth=660;col=2}else if(winWidth<1100){conWidth=880;col=3;}else{conWidth=1200;col=4;}if(conWidth!=currentWidth){currentWidth=conWidth;$('#container').width(conWidth);$('#container').BlocksIt({numOfCol:col,offsetX:8,offsetY:8});}});
        $(window).scroll(function(){var clientHeight=$(window).height(),scrollTop=$(window).scrollTop(),scrollHeight=$(document).height();if(clientHeight+scrollTop>=scrollHeight){alert('ABC');$("#container").BlocksIt('reload');}});});
    </script>


</head>
<body class="metro">
<header id="header">
    <h1>Secret | 秘密，你敢看完吗，你的三观还完整吗？</h1>
    <div id="backlinks">
        <a href="#">返回搜索页 &raquo;</a>
        <a href="#">这里加点什么呢？&raquo;</a>
    </div>
    <div class="clearfix"></div>
</header>

<section id="wrapper">
<hgroup>
<h2>客官里边请</h2>
<h3>客官要点什么</h3>
</hgroup>
<div id="container">
<% for(var i= 0,len=texts.length;i<len;i++){ var text = texts[i]; var id=text.key || 'unknown';%>
<div class="grid" id="<%= id%>"><div class="text"><%= text.text %></div>
    <!-- Baidu Button BEGIN -->
    <!-- Baidu Button END -->
</div>
<% }%>
</div>
</section>

<footer id="footer">
    <span>客观不可以 &copy; 2014 <a href="http://www.baidu.com">xxx.com</a>. Design by <a href="https://www.github.com/sxyizhiren">sxyizhiren</a>. Powered by blocksit-js + Node.js</span>
</footer>

<script type="text/javascript" id="bdshare_js" data="type=tools&mini=1" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
    var bds_config = {};
    document.getElementById('bdshell_js').src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
</script>

</body>
</html>


