<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/blocksit.min.js"></script>
    <script type="text/javascript">
        var iquery = <%- JSON.stringify(iQuery)%>;
        function createsharenode(url,title,pic,desc){var div=$('<div id="bdshare" class="bdshare_t bds_tools_24 get-codes-bdshare"></div>');div.attr('data',JSON.stringify({'text':title,'title':title,'pic':pic,'url':url,'desc':desc}));$('<a class="bds_tsina"></a>').appendTo(div);$('<a class="bds_tqq"></a>').appendTo(div);$('<a class="bds_qzone"></a>').appendTo(div);$('<a class="bds_douban"></a>').appendTo(div);$('<a class="bds_renren"></a>').appendTo(div);$('<span class="bds_more">更多</span>').appendTo(div);return div;}
        /*$('<a class="shareCount"></a>').appendTo(div);*/
        function appendsharenode(){
            $('.grid').each(function(){
                var jqthis=$(this);
                var div=createsharenode(jqthis.attr('id'),'客观不可以','pictureurl',jqthis.children('.text').text());
                 $(document.createComment(' Baidu Button BEGIN ')).appendTo(jqthis);
                div.appendTo(jqthis);
                $(document.createComment(' Baidu Button END ')).appendTo(jqthis);

            });
        }

    </script>

    <script type="text/javascript">
    $(document).ready(function(){
        appendsharenode();
        var currentWidth=1100;var eachcolWidth=280;
        function relist(){var winWidth=$(window).width();var conWidth;if(winWidth<770){col=2}else if(winWidth<1100){col=3}else if(winWidth<1400){col=4;}else{col=5;}conWidth=col * eachcolWidth;if(conWidth!=currentWidth){currentWidth=conWidth;$('#container').width(conWidth);$('#container').BlocksIt({numOfCol:col,offsetX:8,offsetY:8});}};
        $(window).load(function(){$('#header').css({'top':-50}).delay(1000).animate({'top':0},800);$('#footer').css({'bottom':-15}).delay(1000).animate({'bottom':0},800);relist();/*$('#container').width(currentWidth);$('#container').BlocksIt({numOfCol:4,offsetX:8,offsetY:8});*/});
        $(window).resize(relist);
        $(window).scroll(function(){if($(document).scrollTop()+$(window).height() >= $(document).height()){console.log('loading...');$("#container").BlocksIt('reload');}});});
    </script>

</head>
<body class="metro">
<header id="header">
    <h1>Secret | 秘密，你敢看完吗，你的三观还完整吗？</h1>
    <div id="backlinks">
        <a href="#">返回搜索页 &raquo;</a>
        <a href="#">这里加点什么呢？&raquo;</a>
    </div>
    <div class="clearfix"></div>
</header>

<section id="wrapper">
<hgroup>
<h2>客官里边请</h2>
<h3>客官请慢用</h3>
</hgroup>
<div id="container">
<% for(var i= 0,len=texts.length;i<len;i++){ var text = texts[i]; var id=text.key || 'unknown';%>
<div class="grid" id="<%= id%>"><div class="text"><%= text.text %></div>
</div>
<% }%>
</div>
<hgroup><h4 class="aligncenter">正在努力加载...</h4></hgroup><br /><br />
<div class="clearfix"></div>
</section>

<footer id="footer">
    <span>客观不可以 &copy; 2014 <a href="http://www.baidu.com">xxx.com</a>. Design by <a href="https://www.github.com/sxyizhiren">sxyizhiren</a>. Powered by blocksit-js + Node.js</span>
</footer>

<script type="text/javascript" id="bdshare_js" data="type=tools&mini=1&diy=what" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
    var bds_config = {};
    document.getElementById('bdshell_js').src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
</script>

</body>
</html>


